

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  @apply font-custom;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components{

  .sidebar-icon{
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto bg-gray-600 shadow-lg text-green-400 hover:bg-green-200  ;
  }

  .sidebar-tooltip{
    @apply absolute w-auto p-2 m-2 left-14 rounded-md text-white bg-gray-900 font-bold scale-0;
  }
}